.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: brown;
  opacity: 0.5;
  z-index: 999;

  .spinner {
    color: yellow;
    font-size: xx-large;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
  }
}